<a href="https://colab.research.google.com/github/xtenix88/Data-Portfolio/blob/main/Stackoverflow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
os.getcwd()

'/content'

In [10]:
df = pd.read_csv('/content/survey_results_public.csv', error_bad_lines=False)

In [16]:
df.shape

(83439, 48)

In [19]:
df.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'Country', 'US_State',
       'UK_Country', 'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'Currency', 'CompTotal',
       'CompFreq', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [25]:
list(df.columns)

['ResponseId',
 'MainBranch',
 'Employment',
 'Country',
 'US_State',
 'UK_Country',
 'EdLevel',
 'Age1stCode',
 'LearnCode',
 'YearsCode',
 'YearsCodePro',
 'DevType',
 'OrgSize',
 'Currency',
 'CompTotal',
 'CompFreq',
 'LanguageHaveWorkedWith',
 'LanguageWantToWorkWith',
 'DatabaseHaveWorkedWith',
 'DatabaseWantToWorkWith',
 'PlatformHaveWorkedWith',
 'PlatformWantToWorkWith',
 'WebframeHaveWorkedWith',
 'WebframeWantToWorkWith',
 'MiscTechHaveWorkedWith',
 'MiscTechWantToWorkWith',
 'ToolsTechHaveWorkedWith',
 'ToolsTechWantToWorkWith',
 'NEWCollabToolsHaveWorkedWith',
 'NEWCollabToolsWantToWorkWith',
 'OpSys',
 'NEWStuck',
 'NEWSOSites',
 'SOVisitFreq',
 'SOAccount',
 'SOPartFreq',
 'SOComm',
 'NEWOtherComms',
 'Age',
 'Gender',
 'Trans',
 'Sexuality',
 'Ethnicity',
 'Accessibility',
 'MentalHealth',
 'SurveyLength',
 'SurveyEase',
 'ConvertedCompYearly']

In [22]:
df.isnull().sum().sort_values(ascending=False)

UK_Country                      79021
US_State                        68519
MiscTechWantToWorkWith          45418
PlatformWantToWorkWith          41820
ConvertedCompYearly             36595
MiscTechHaveWorkedWith          36384
CompTotal                       36256
WebframeWantToWorkWith          31344
PlatformHaveWorkedWith          31304
CompFreq                        31289
DatabaseWantToWorkWith          25140
OrgSize                         22713
Currency                        22359
YearsCodePro                    22223
WebframeHaveWorkedWith          21732
ToolsTechWantToWorkWith         17959
DevType                         16955
SOPartFreq                      15886
DatabaseHaveWorkedWith          13893
ToolsTechHaveWorkedWith         10902
NEWCollabToolsWantToWorkWith    10417
Sexuality                       10073
LanguageWantToWorkWith           6618
MentalHealth                     6519
Accessibility                    5836
Ethnicity                        3975
Trans                            2761
NEWCollabToolsHaveWorkedWith     2205
YearsCode                        1798
SurveyLength                     1728
SurveyEase                       1491
Gender                           1153
SOComm                           1120
LanguageHaveWorkedWith           1082
Age                              1032
SOVisitFreq                      1026
SOAccount                         914
NEWOtherComms                     611
LearnCode                         476
NEWStuck                          387
EdLevel                           313
NEWSOSites                        268
Age1stCode                        196
OpSys                             145
Employment                        116
Country                             0
MainBranch                          0
ResponseId                          0
dtype: int64

In [26]:
df.describe()

         ResponseId     CompTotal  ConvertedCompYearly
count  83439.000000  4.718300e+04         4.684400e+04
mean   41720.000000  2.119407e+69         1.184262e+05
std    24086.908893  4.603702e+71         5.272944e+05
min        1.000000  0.000000e+00         1.000000e+00
25%    20860.500000  1.600000e+04         2.702500e+04
50%    41720.000000  6.700000e+04         5.621100e+04
75%    62579.500000  1.400000e+05         1.000000e+05
max    83439.000000  1.000000e+74         4.524131e+07

In [35]:
df['Employment'].value_counts()

Employed full-time                                      53584
Student, full-time                                      11781
Independent contractor, freelancer, or self-employed     8041
Not employed, but looking for work                       2961
Employed part-time                                       2461
Student, part-time                                       2051
Not employed, and not looking for work                   1228
I prefer not to say                                       890
Retired                                                   326
Name: Employment, dtype: int64

In [37]:
filt = df['US_State'] == 'Texas'

In [42]:
df.loc[filt, ['Employment',"YearsCode", 'ConvertedCompYearly']].sort_values(by='ConvertedCompYearly', ascending=False)

                                              Employment  ... ConvertedCompYearly
20908                                 Employed full-time  ...          10000000.0
66417                                 Employed full-time  ...           9100000.0
8623                                  Employed full-time  ...           6500000.0
5288                                  Employed full-time  ...           3850000.0
27070                                 Employed full-time  ...           3250000.0
...                                                  ...  ...                 ...
81847             Not employed, and not looking for work  ...                 NaN
81999                                 Employed part-time  ...                 NaN
82241  Independent contractor, freelancer, or self-em...  ...                 NaN
82481  Independent contractor, freelancer, or self-em...  ...                 NaN
83367  Independent contractor, freelancer, or self-em...  ...                 NaN

[1023 rows x 3 columns]

In [68]:
df.nlargest(5, 'ConvertedCompYearly')

       ResponseId  ... ConvertedCompYearly
66910       66911  ...          45241312.0
65399       65400  ...          30468516.0
40586       40587  ...          21822250.0
28791       28792  ...          20000000.0
12700       12701  ...          19200000.0

[5 rows x 48 columns]

In [46]:
df.ConvertedCompYearly.median()

56211.0

In [48]:
df.ConvertedCompYearly.count()

46844

In [49]:
df.SOAccount.value_counts()

Yes                        67813
No                         10510
Not sure/can't remember     4202
Name: SOAccount, dtype: int64

In [50]:
df.Country.value_counts()

United States of America                                15288
India                                                   10511
Germany                                                  5625
United Kingdom of Great Britain and Northern Ireland     4475
Canada                                                   3012
                                                        ...
Saint Kitts and Nevis                                       1
Tuvalu                                                      1
Saint Vincent and the Grenadines                            1
Papua New Guinea                                            1
Dominica                                                    1
Name: Country, Length: 181, dtype: int64

In [69]:
state_grp = df.groupby(['US_State']) #groupby split up the states
state_grp.get_group('Texas').head(5)

     ResponseId  ... ConvertedCompYearly
63           64  ...                 NaN
251         252  ...                 NaN
278         279  ...            160000.0
314         315  ...                 NaN
347         348  ...            120000.0

[5 rows x 48 columns]

In [66]:
filt = df['US_State'] == 'Texas'
df.loc[filt]['MainBranch'].value_counts() #using a filter

I am a developer by profession                                                   728
I am not primarily a developer, but I write code sometimes as part of my work    105
I am a student who is learning to code                                            91
I code primarily as a hobby                                                       72
I used to be a developer by profession, but no longer am                          15
None of these                                                                     12
Name: MainBranch, dtype: int64

In [74]:
state_grp['MainBranch'].value_counts().loc['Texas'] #without using a filter
state_grp['MainBranch'].value_counts(normalize=True).loc['Texas'] #without using a filter and in percentage

MainBranch
I am a developer by profession                                                   0.711632
I am not primarily a developer, but I write code sometimes as part of my work    0.102639
I am a student who is learning to code                                           0.088954
I code primarily as a hobby                                                      0.070381
I used to be a developer by profession, but no longer am                         0.014663
None of these                                                                    0.011730
Name: MainBranch, dtype: float64

In [81]:
state_grp['DevType'].value_counts(normalize=True).loc['Texas']

DevType
Developer, full-stack                                                                  0.138889
Developer, back-end                                                                    0.069444
Other (please specify):                                                                0.035880
Developer, front-end                                                                   0.031250
Developer, embedded applications or devices                                            0.027778
                                                                                         ...
Other (please specify):;System administrator                                           0.001157
Senior Executive (C-Suite, VP, etc.);Marketing or sales professional                   0.001157
Student;Data or business analyst                                                       0.001157
Student;Developer, embedded applications or devices                                    0.001157
Student;Developer, game or graphics;Product manager;Marketing or sales professional    0.001157
Name: DevType, Length: 341, dtype: float64

In [80]:
state_grp['ConvertedCompYearly'].median().sort_values(ascending=False)

US_State
Washington                              170000.0
California                              160000.0
Hawaii                                  145000.0
New Jersey                              144000.0
New Hampshire                           143500.0
New York                                140500.0
Massachusetts                           140000.0
Delaware                                135000.0
Nevada                                  130000.0
Colorado                                130000.0
Maryland                                125000.0
Illinois                                125000.0
Georgia                                 125000.0
Texas                                   125000.0
Virginia                                125000.0
Rhode Island                            122500.0
Maine                                   121000.0
Minnesota                               120000.0
Connecticut                             120000.0
District of Columbia                    120000.0
Arizona                                 120000.0
Oregon                                  120000.0
Florida                                 119500.0
Vermont                                 118300.0
Utah                                    115250.0
North Carolina                          115000.0
South Carolina                          113500.0
Idaho                                   113000.0
Missouri                                110000.0
Wisconsin                               110000.0
Nebraska                                110000.0
Pennsylvania                            110000.0
Kansas                                  105750.0
Michigan                                105000.0
Kentucky                                105000.0
Tennessee                               105000.0
Indiana                                 105000.0
Arkansas                                104640.0
Alabama                                 104500.0
Iowa                                    103000.0
Ohio                                    102000.0
West Virginia                           100500.0
Montana                                 100000.0
New Mexico                              100000.0
South Dakota                            100000.0
Oklahoma                                 99000.0
Wyoming                                  95000.0
Alaska                                   92500.0
Louisiana                                92000.0
Mississippi                              90000.0
North Dakota                             71000.0
Puerto Rico                              64000.0
American Samoa                               NaN
Guam                                         NaN
I do not reside in the United States         NaN
Name: ConvertedCompYearly, dtype: float64